<header>
    <a class="{% if current_tab == 'home' %}active {% endif %}" href="/">Home page</a>
    <a class="{% if current_tab == 'calc' %}active {% endif %}" href="/calculator/">Calculator</a>
    <a href="#">About</a>
    <a href="#">Contacts</a>
    <a class="{% if current_tab == 'examples' %}active {% endif %}" href="/examples/">examples</a>
    <a href="{% url 'client:articles-user' %}">Статьи от пользоватеей</a>

    <a class="btn btn-info" href="{% url 'client:cabinet' %}">Мой кабинет</a>

    {% if request.user.is_authenticated %}
        <a class="btn btn-success" href="{% url 'client:logout' %}">Выход({{ request.user.username }})</a>
    {% else %}
        <a href="{% url 'client:login' %}" class="btn btn-success">Вход</a>
        <a href="{% url 'client:register' %}" class="btn btn-primary">Регистрация</a>
    {% endif %}


</header>
