{% load poll_extras %}
{% for article in all_articles %}
    <div class="js-article alert {{ forloop.counter|set_class }} row"
         data-publish="{{ article.status }}">
        <div class="col-md-1">{{ forloop.counter }}</div>
        <div class="col-md-4">{{ article.title }}</div>
        <div class="col-md-4">{{ article.status }}</div>
        <div class="col-md-3">
            <span class="js-del btn btn-danger"
                  data-url="{% url 'client:delete_article' pk=article.id %}">delete</span>
            <a href="{% url 'client:update_article' pk=article.id %}" class="btn btn-primary">Update</a>
        </div>
    </div>
{% endfor %}