{% extends 'index.html' %}

{% block content %}

    <h1>все статьи от пользователя</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-md-3">
                <a href="{% url 'client:article' pk=article.id %}">{{ article.title }}</a>
                <p>{{ article.author }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}