{% extends 'index.html' %}

{% block content %}

    <h1>{{ article.title }}</h1>
    <div>Author - {{ article.author }} {{ article.create_at }}</div>
    <div>
        {{ article.content|safe }}
    </div>

    <h3>Comments</h3>

    {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="{% url 'client:add_comment' article_id=article.id %}" method="POST">
                {% csrf_token %}
                {% for field in comment_form %}
                    <div>
                        <div>{{ field.label_tag }}</div>
                        {{ field }}
                    </div>
                {% endfor %}
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    {% else %}
        <p class="alert alert-warning">Только для авторизированых пользователей <a
                href="{% url 'client:login' %}">вход</a></p>

    {% endif %}
    {% for comment in  article.comments.all %}

        <div>
            <a href="#">#{{ forloop.counter }}</a>
            <p>От - {{ comment.from_user }}</p>
            <p>{{ comment.msg }}</p>
            <hr>
        </div>

    {% empty %}
        <p class="alert alert-warning">коментариев нет</p>
    {% endfor %}
{% endblock %}