{% extends 'client_app/cabinet.html' %}
{% block author_block %}
    <h1>My articles <span class="js-count">{{ all_articles|length }}</span>!</h1>
    <p class="js-sort btn btn-info" data-publish="-1">All</p>
    <p class="js-sort btn btn-info" data-publish="publish">Publish</p>
    <p class="js-sort btn btn-info" data-publish="unpublish">UnPublish</p>
    <div class="article-wrapper">
        <div class="article-row">
            <div class="col-md-1">№</div>
            <div class="col-md-4">Title</div>
            <div class="col-md-4">Publish?</div>
            <div class="col-md-3">Actions</div>
        </div>
        <div id="ajax_reload">
            {% include 'client_app/ajax_reload_articles.html' %}
        </div>

    </div>

    <script>

        $('.js-del').click(function (e) {
            if (confirm('Really?')) {
                let url_send = $(this).data('url');
                $.ajax({
                    method: 'GET',
                    url: url_send
                }).done(function (response) {
                    $('#ajax_reload').html(response.result_html);
                    $('.js-count').html(response.new_len);
                    console.log(response);
                })
                console.log(url_send);
            }
        })

        $('.js-sort').click(function (e) {
            var state_article = $(this).data('publish');
            console.log(state_article);
            if (state_article == -1) {
                $('.js-article').show();
                return;
            }
            var selector = '.js-article[data-publish=' + state_article + ']';
            console.log(selector);
            $('.js-article').hide();
            $(selector).show();
        })
        {#alert($);#}
    </script>
{% endblock %}

