{% extends 'client_app/cabinet.html' %}

{% block author_block %}
    <form action="{% url 'client:update_article' form_update.instance.id %}" method="post">
        {% csrf_token %}
        {{ form_update.media }}
        <div>
            {{ form_update }}
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

