{% extends 'client_app/cabinet.html' %}

{% block author_block %}
    <form action="{% url 'client:write_post' %}"
          method="post">
        {% csrf_token %}
        {{ form_article.media }}
        {% for field in form_article %}
            <div>
                <label for="">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    {% for err in field.errors %}
                        <span>{{ err }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        {#        {{ form_article }}#}
        <button>Save</button>
    </form>
{% endblock %}