{% extends 'index.html' %}
{% load poll_extras %}
{% block title %}
    Examples
{% endblock %}


{% block content %}
    <h1>Examples django templates!</h1>

    {{ bool_value }}

    {% if bool_value %}
        <p style="background: green; padding: 12px;">Bool value is {{ bool_value }}!</p>

    {% else %}
        <p style="background: red; color: white; padding: 12px;">Bool value is {{ bool_value }}!</p>

    {% endif %}


    {% if some_value == 100 %}
        <h1>100!!!!!!</h1>

    {% elif some_value == 150 %}
        <h1>150!!!!!!</h1>
    {% endif %}

    <hr>
    <ol>
        {% for number in some_list %}
            <li>{{ number }}</li>
        {% endfor %}
    </ol>
    <div>
        {{ 'lorem ipsum!'|upper }}
        <p class="alert alert-danger">
            {{ 'lorem SDAASD!'|custom_lower }}
        </p>
    </div>
    <div>
        {{ '355.0'|floatformat:'-3' }}
    </div>

    <a href="{% url 'client:demo-model-form' %}">Model form</a>
    <a href="{% url 'client:privatbank-api' %}">Get privatbank api</a>

    <h1 id="output"></h1>
    Name <input type="text" id="user_input">
    Surname <input type="text" id="user_input_surname">
    <button id="btn">Get full name!</button>
    {#    {{ some_list }}#}


    <script>
        $('#btn').click(function () {
            var name = $('#user_input').val();
            var surname = $('#user_input_surname').val();
            
            $('#output').html(name + ' ' + surname);
        })

        {#var name = 'Anton';#}
        {#var a = 1;#}
        {#var b = 2.6;#}
        {#var t = true;#}
        {#var t2 = false;#}
        {#var l = [1, 2, 3, 4, 5];#}
        {#console.log(a, b, t, t2);#}
        {#var x = confirm('ok?');#}
        {#console.log('2' + 2);#}
        {#console.log('2' - 2);#}
        {#var answer = prompt('>>>> ');#}
        {#console.log(answer);#}
        {##}
        {##}
        {#function f() {#}
        {#    alert('function called!');#}
        {#    for (var i = 0; i < 10; i++) {#}
        {#        if (i % 2 == 0) {#}
        {#            console.log('odd number');#}
        {#            break;#}
        {##}
        {#        } else {#}
        {#            console.log('even number');#}
        {#            continue;#}
        {#        }#}
        {#console.log(i);#}
        {#    }#}
        {#    return;#}

        {##}
        {##}
        {#f();#}
        {#alert('hello js!')#}
    </script>
{% endblock %}